<h1>Guest</h1>
<div> Id: {{guest.id}}</div>
<div>Name: {{guest.name}}</div>
<div>Surname: {{guest.surname}}</div>
<div>Message: {{guest.message}}</div>

{{#if isLoggedIn}}
<div>
    <a href="/update-guest/{{guest.id}}">Update</a>
</div>
{{/if}}
{{#if isLoggedIn}}
<div>
    <form action="/delete-post/{{guest.id}}" method="post">
        <input type="submit" value="Delete">
    </form>
</div>
{{/if}}