
{{#if dbError}}
    <p class="toast toast-error">Can not display this page now. We are working to fix this problem.</p>
{{else}}


    {{#if guests.length}}
            <p>We have guests! Nuber of guests: {{guests.length}}</p>

            <ul>
                {{#each guests}}
                    <li>
                        <a href="/guests/{{id}}">{{name}}</a>
                    </li>
                {{/each}}
            </ul>
        {{else}}
            <p>We don't have guests!</p>
    {{/if}}
    <a href="/create-guest" class="btn btn-primary">Add a new guest</a>
{{/if}}








