<h1>Posts</h1>

{{#if dbError}}
    <p>Can not display this page now. We are working to fix this problem.</p>
{{else}}
    {{#if posts.length}}
        <p>We have posts {{posts.length}}</p>

        <ul>
            {{#each posts}}
                <li>
                    <a href="/posts/{{id}}">{{title}}</a>
    
                </li>
            {{/each}}
        </ul>
    {{else}}
        <p>We dont have any posts yet</p>
    {{/if}}
{{/if}}







